.jumbotron{
	padding-top : 8rem;
	background-color : #99582a;
	color : #ffffff;
}

.pad{
	padding-top : 6rem;
	padding-bottom : 6rem;
}

#about{
	background-color : #ffe6a7;
}

#minathobi{
	background-color : #99582a;
	color : #ffffff;
}
			
#skill{
	background-color : #ffe6a7;
}

.bg-coklat{
	--bs-bg-opacity : 1;
	background-color : #432818;
}

.skill-img{
	width : 50%;
	text-align : center;
	margin-top : 1rem;
	margin-right : auto;
	margin-left : auto;
}

.resume-wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
}

.resume-wrapper-inner {
  max-width: 1000px;
}

.resume-timeline:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 100%;
  background: #99582a;
  left: 6px;
  top: 4px;
  position: absolute;
}

.resume-timeline-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 15px;
  height: 15px;
  border: 4px solid #432818;
  background: white;
  border-radius: 50%;
}

.resume-section-title {
  font-size: 1.25rem;
  position: relative;
  color: #432810;
}

.resume-sectio-title {
  font-size: 1.25rem;
  position: relative;
  color: #ffffff;
}

.resume-section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #432818;
}

.resume-section-content {
  color: #432818;
}

.resume-timeline {
  padding-left: 2rem;
}

.resume-position-time {
  font-size: 0.875rem;
  color: #99582a;
}

.resume-position-title {
  font-size: 1.125rem;
  color: #6f1d1b;
}

.resume-social {
  font-size: 0.875rem;
}

.resume-social .fa-container {
  font-size: 0.875rem;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 0.125rem;
  background: white;
  color: #99582a;
}

.a:link {
	color:#99582a;
	text-decoration:underline;
}
